@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: white !important;
}
/* navbar */


.fa.menu {
    color: gainsboro;
    font-size: 2em;
    padding-top: 0.4em;
    padding-left: 0.4em;
    cursor: pointer;
  }
  .menu:hover {
    color: darkturquoise;
  }
  nav.blue {

    padding-top: 0;
    background-color: transparent;
    padding-left: 0px;
  }
  .navbar-inverse {
    border-color:transparent !important;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #c7e6e3;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 5em;
    
  }
  
  .sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    display: block;
    transition: 0.3s;
    margin-left: 16px;
  }
  
  .sidenav a:hover {
    text-decoration: none;
    color: darkturquoise;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3em;
    margin-left: 1em;
  }
  
  #head {
    margin-top: 0;
    color: black;
    text-align: center;
    line-height: 0.4em;
  }
  #head:hover {
    color: darkturquoise;
  }
  .search {
    margin-left: 0.9em;
  }
  .fa.rt {
    color: black;
    font-size: 2em;
  }
  .fa.rt:hover {
    color: darkturquoise;
  }
  .navbar-center {
    position: absolute;
    left: 35%;
    top: 0;
  }
  .navbar-right {
    padding-right: 1.5em;
  }
  .car {
    padding-top: 3em;
  }
  
/* first page */
.first-page {
    position: relative;
    height: 630px !important;
    width: 100%;
    top: -70px;
    z-index: -9;
}
.first-page .card {
    margin: 0px;
    text-align: center;
    font-family: 'Playball', cursive;
 
}
.first-page .card-img {
    height: 100%;
}
.first-page .card-text  {
    font-size: 60px !important;
}
.first-page .card-img-overlay {
 padding: 10.25em !important;
}
.small {
    font-size: 26px;
    color: aliceblue;

}
h1 {
    text-align: center;
    margin-top: 26px;
    padding-top: 16px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 16px;
    padding-bottom: 16px;
}
.card {
    margin: 16px;
    border: none;
    font-family: 'Roboto', sans-serif;
    /* -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,1);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,1); */
}
.card-img-overlay {
    padding: 6.25em
}
.card-img-overlay .card-title {
    font-size:20px;
    font-weight: bold;
}
.container .card-img-overlay:hover {
    background-color: rgba(24, 203, 219, 0.5);
    color: black;
    cursor: pointer;
    text-align: bottom;
    
}
/* follow us */
.follow-us .card {
    text-align: center;
    background:#f9f96f;
    border-radius: unset;
    padding: 26px;
    margin-left: 16px;
    margin-right: 16px;
}

.follow-us i {
    font-size: 30px;
    padding: 8px;
    margin: 16px;
    background-color: white;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    color: #c86ea6;
}
.follow-us  a {
    color: #c86ea6; 
}
.follow-us .card-text {
    font-size: 20px;
    padding: 20px;
    margin: 16px;
    color: gray;
}

/* follow button */

.buttons {

    text-align: center;
}

.btn-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #c86ea6, #919274, #9e9f73,  #c86ea6);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);

}



