@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css?family=Playball');
body {
  font-family: 'Roboto', sans-serif;
  background-color: aliceblue !important;
}
.first-page {
  display: flex;

}
#mobile-nav {
  display: block;
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 1;
}

#mobile-nav input {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
}

#mobile-nav span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1; 
  transform-origin: 4px 0px;
}

#mobile-nav span:first-child
{
  transform-origin: 0% 0%;
}

#mobile-nav span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#mobile-nav input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

#mobile-nav input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#mobile-nav input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


.mobile-nav__menu
{
  background: #ededed;
  position: relative;
  width: 30%;
    height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px; 
  list-style-type: none; 
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#mobile-nav input:checked ~ ul
{
  transform: none;
}
.first-page .card {
  width: 100%;
  height: 100%;
}

